.dash_panel{
    background-color: #333244;
    height: 100px;
}
h1.dash_text {
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 22px;
}
.dash_panel_trans{
    padding: 12px;
}
.dash.col-lg-3.col-sm-6 {
    padding-bottom: 20px;
  
}